@media screen and (min-width: 576px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
@media screen and (min-width: 768px){
    body > div > footer {
        flex-direction: row;
    }
}
@media screen and (min-width: 992px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}