/* Ordering of selectors goes from highest hierarchy to deeply nested elements
    body -> background divs -> header, main, footer -> individual pages in main
*/

body > div > header, body > div > main, body > div > footer {
    max-width: 992px;
    margin: 0 auto;
    
    --padding-r-l: 32px;
    padding: 16px var(--padding-r-l);
}

body > div > header, body > div > footer {
    --height: 80px;
    height: var(--height);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

