.categorycard img{
    width: 100%;
}

.categorycard {
    display: flex;
    flex-direction: column;
    
    box-shadow: var(--shadow);
}


.categorycard main {
    padding-top: 8px;
    padding-bottom: 16px;
}

.categorycard footer {
    padding-bottom: 16px;
}
.categorycard main, .categorycard footer{
    padding-left: 16px;
    padding-right: 16px;
}

.categorycard footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;
}

.categorycard main h5 {
    margin-bottom: 8px;
}